.spacer {
    flex: 1 1 auto;
  }
  

mat-toolbar {
  background-color: #1C444C; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.content {
  margin-top: 64px; 
}


mat-form-field {
  width: 100%;
  margin-top: 20px;
}
  