mat-card {
  margin-top: 80px; 
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 50%; 
  margin-bottom: 20px; 
}

table {
  width: 100%; 
}

mat-paginator {
  margin-top: 5px; 
}

mat-card-title {
  font-size: 24px; 
  font-weight: bold; 
  color: #1C444C;
  padding: 20px;
  }

  
:host {
  background-color: #1C444C; 
}

.adicionar-produto-btn {
  background-color: #1C444C; 
  color: white; 
  margin-left: 16px; 
  border-radius: 4px; 
  padding: 8px 16px; 

  &:hover {
    background-color: darken(#1C444C, 10%); 
  }
}

