mat-toolbar {
    background-color: #1C444C;
    position: fixed;
    color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  